* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #333;
  color: hsl(200, 100%, 90%);
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin: 100px auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px 0;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
  padding: .7rem 0.5rem;
  border-radius: .3rem;
  margin-top: 1rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-danger {
  width: 20%;
  height: 2.5rem;
  text-align: center;
}

li {
  list-style-type: none;
  width: 100vw;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

label {
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

input {
  padding: .7rem .5rem;
  border-radius: .3rem;
  border: 0;
  text-align: center;
  color: #000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-inline: .5rem;
}

input:focus {
  outline: none;
}